ASPEDB.UI/Service References/DBOperationsService/DBOperations21.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ASPEDB.DTO.DB" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ASPEDB.DTO.DB" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:20938/ASPEDB.DBServiceHost/DBOperations.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ASPEDB.DTO" />
  <xs:complexType name="ArrayOfEncryptedDBPoint">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EncryptedDBPoint" nillable="true" type="tns:EncryptedDBPoint" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEncryptedDBPoint" nillable="true" type="tns:ArrayOfEncryptedDBPoint" />
  <xs:complexType name="EncryptedDBPoint">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="tns:EncryptedDBValue" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="tns:EncryptedDBValue" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="tns:EncryptedDBValue" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EncryptedDBPoint" nillable="true" type="tns:EncryptedDBPoint" />
  <xs:complexType name="EncryptedDBValue">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ASPEDB.DTO" minOccurs="0" name="C" nillable="true" type="q1:EncryptedPoint" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ASPEDB.DTO" minOccurs="0" name="D" nillable="true" type="q2:EncryptedPoint" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EncryptedDBValue" nillable="true" type="tns:EncryptedDBValue" />
  <xs:complexType name="DBOperationResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsOperationExecuted" type="xs:boolean" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DBOperationResponse" nillable="true" type="tns:DBOperationResponse" />
</xs:schema>