ASPEDB.UI/Service References/DBOperationsService/DBOperations.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DBOperations" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:20938/ASPEDB.DBServiceHost/DBOperations.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:20938/ASPEDB.DBServiceHost/DBOperations.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:20938/ASPEDB.DBServiceHost/DBOperations.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ASPEDB.DTO" />
      <xsd:import schemaLocation="http://localhost:20938/ASPEDB.DBServiceHost/DBOperations.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:20938/ASPEDB.DBServiceHost/DBOperations.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/ASPEDB.DTO.DB" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDBOperations_Hello_InputMessage">
    <wsdl:part name="parameters" element="tns:Hello" />
  </wsdl:message>
  <wsdl:message name="IDBOperations_Hello_OutputMessage">
    <wsdl:part name="parameters" element="tns:HelloResponse" />
  </wsdl:message>
  <wsdl:message name="IDBOperations_Search_InputMessage">
    <wsdl:part name="parameters" element="tns:Search" />
  </wsdl:message>
  <wsdl:message name="IDBOperations_Search_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchResponse" />
  </wsdl:message>
  <wsdl:message name="IDBOperations_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="IDBOperations_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IDBOperations_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IDBOperations_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IDBOperations_Insert_InputMessage">
    <wsdl:part name="parameters" element="tns:Insert" />
  </wsdl:message>
  <wsdl:message name="IDBOperations_Insert_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertResponse" />
  </wsdl:message>
  <wsdl:portType name="IDBOperations">
    <wsdl:operation name="Hello">
      <wsdl:input wsaw:Action="http://tempuri.org/IDBOperations/Hello" message="tns:IDBOperations_Hello_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDBOperations/HelloResponse" message="tns:IDBOperations_Hello_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Search">
      <wsdl:input wsaw:Action="http://tempuri.org/IDBOperations/Search" message="tns:IDBOperations_Search_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDBOperations/SearchResponse" message="tns:IDBOperations_Search_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://tempuri.org/IDBOperations/Update" message="tns:IDBOperations_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDBOperations/UpdateResponse" message="tns:IDBOperations_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IDBOperations/Delete" message="tns:IDBOperations_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDBOperations/DeleteResponse" message="tns:IDBOperations_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Insert">
      <wsdl:input wsaw:Action="http://tempuri.org/IDBOperations/Insert" message="tns:IDBOperations_Insert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDBOperations/InsertResponse" message="tns:IDBOperations_Insert_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDBOperations" type="tns:IDBOperations">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Hello">
      <soap:operation soapAction="http://tempuri.org/IDBOperations/Hello" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Search">
      <soap:operation soapAction="http://tempuri.org/IDBOperations/Search" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/IDBOperations/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IDBOperations/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insert">
      <soap:operation soapAction="http://tempuri.org/IDBOperations/Insert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DBOperations">
    <wsdl:port name="BasicHttpBinding_IDBOperations" binding="tns:BasicHttpBinding_IDBOperations">
      <soap:address location="http://localhost:20938/ASPEDB.DBServiceHost/DBOperations.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>