ASPEDB.UI/Service References/DBOperationsService/DBOperations2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ASPEDB.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ASPEDB.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:20938/ASPEDB.DBServiceHost/DBOperations.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="EncryptedQuery">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="qa" nillable="true" type="q1:ArrayOfdecimal" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="qb" nillable="true" type="q2:ArrayOfdecimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EncryptedQuery" nillable="true" type="tns:EncryptedQuery" />
  <xs:complexType name="EncryptedPoint">
    <xs:sequence>
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="pa" nillable="true" type="q3:ArrayOfdecimal" />
      <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="pb" nillable="true" type="q4:ArrayOfdecimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EncryptedPoint" nillable="true" type="tns:EncryptedPoint" />
</xs:schema>