ASPEDB.UI/Service References/DBOperationsService/DBOperations.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:20938/ASPEDB.DBServiceHost/DBOperations.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ASPEDB.DTO.Query" />
  <xs:import schemaLocation="http://localhost:20938/ASPEDB.DBServiceHost/DBOperations.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/ASPEDB.DTO" />
  <xs:element name="Hello">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="HelloResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HelloResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Search">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ASPEDB.DTO.Query" minOccurs="0" name="query" nillable="true" type="q1:EncryptedQuery" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ASPEDB.DTO" minOccurs="0" name="SearchResult" nillable="true" type="q2:ArrayOfEncryptedPoint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ASPEDB.DTO.Query" minOccurs="0" name="query" nillable="true" type="q3:EncryptedQuery" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ASPEDB.DTO" minOccurs="0" name="newPoint" nillable="true" type="q4:EncryptedPoint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ASPEDB.DTO.Query" minOccurs="0" name="query" nillable="true" type="q5:EncryptedQuery" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ASPEDB.DTO" minOccurs="0" name="point" nillable="true" type="q6:EncryptedPoint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>