ASPEDB.UI/Service References/DBOperationsService/DBOperations22.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ASPEDB.DTO.DB" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ASPEDB.DTO.DB" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:20938/ASPEDB.DBServiceHost/DBOperations.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ASPEDB.DTO" />
  <xs:import schemaLocation="http://localhost:20938/ASPEDB.DBServiceHost/DBOperations.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="EncryptedDBQuery">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ASPEDB.DTO" minOccurs="0" name="Name" nillable="true" type="q1:EncryptedQuery" />
      <xs:element minOccurs="0" name="Operator" type="tns:Operator" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ASPEDB.DTO" minOccurs="0" name="OptionalValue" nillable="true" type="q2:EncryptedQuery" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ASPEDB.DTO" minOccurs="0" name="Type" nillable="true" type="q3:EncryptedQuery" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ASPEDB.DTO" minOccurs="0" name="Value" nillable="true" type="q4:EncryptedQuery" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EncryptedDBQuery" nillable="true" type="tns:EncryptedDBQuery" />
  <xs:simpleType name="Operator">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NotEqual">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Less">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="LessEqual">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Equal">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="GreaterEqual">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">5</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Greater">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">6</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ExactBetween">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">7</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="BetweenDown">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">8</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Between">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">9</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="BetweenUp">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">10</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Operator" nillable="true" type="tns:Operator" />
  <xs:complexType name="ArrayOfEncryptedDBPoint">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EncryptedDBPoint" nillable="true" type="tns:EncryptedDBPoint" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEncryptedDBPoint" nillable="true" type="tns:ArrayOfEncryptedDBPoint" />
  <xs:complexType name="EncryptedDBPoint">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="tns:EncryptedDBValue" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="tns:EncryptedDBValue" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="tns:EncryptedDBValue" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EncryptedDBPoint" nillable="true" type="tns:EncryptedDBPoint" />
  <xs:complexType name="EncryptedDBValue">
    <xs:sequence>
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ASPEDB.DTO" minOccurs="0" name="C" nillable="true" type="q5:EncryptedPoint" />
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ASPEDB.DTO" minOccurs="0" name="D" nillable="true" type="q6:EncryptedPoint" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EncryptedDBValue" nillable="true" type="tns:EncryptedDBValue" />
  <xs:complexType name="DBOperationResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsOperationExecuted" type="xs:boolean" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DBOperationResponse" nillable="true" type="tns:DBOperationResponse" />
</xs:schema>